<!-- TODO speak with catalin about href -->
<li>
  <h4><%= issue.title %></h4>
  <p>
  <%= issue.latitude %>
  <%= issue.longitude %>
  <%= issue.category.name %>
  <% if issue.attachment.present? %>
    <%= image_tag issue.attachment.image.url %>
  <% end %>
  </p>
</li>
