.row
  - issues_by_category.each do |cat|
    .col-md-3.statistic
      %span= cat[1]
      %p= cat[0]

.row.spacer
  .col-md-12
    .table-responsive
      %table.table-issues.table.table-striped.table-hober.table-condensed
        %thead
          %tr
            %th #
            %th.issue-name name
            %th.issue-number lat
            %th.issue-number lon
            %th address
            %th.issue-number images
            %th.issue-number comments
        %tbody
          - @issues.each do |issue|
            %tr{"data-issue-id" => issue.id}
              %td.issue-id= issue.id
              %td.issue-name= issue.name
              %td.issue-number= issue.lat
              %td.issue-number= issue.lon
              %td= issue.address
              %td.issue-number= issue.images.count
              %td.issue-number= issue.comments.count
