.doc
  %h1 Repara Clujul API Doc
  %p The API has two main components. The Image Upload Service and the Issue Reporting Service
  %p All requests will be surrounded with
  %pre= pretty_json(render_response_without_changing_status('this is where the content will be').to_json)

  %h2 Image Upload Service
  %p Used to upload <b>png</b> images to the server. Will return a public url for the image
  %p <b>POST</b> /upload with 'image' param
  %p Examples:
  %p curl -X POST -F "image=@public/images/logo.png" #{base_url}upload
  %p
    %a{:href => '/up'} form example
  %p Sample response:
  %pre= pretty_json(render_response_without_changing_status(generate_upload_response('image.png')).to_json)

  %h2 Issue Reporting Service
  %p All requests should have the Content-Type header set to <b>application/json</b>
  %p If no address is specified, the issue will be geocoded from lat and lon
  %p Example issue
  %pre= pretty_json Issue.first.to_json
  %p Example response
  %pre= pretty_json(render_response_without_changing_status(Issue.first).to_json)
  %p Example error
  %pre= pretty_json(render_response_without_changing_status('issue with id bla not found', 404).to_json)
  %h3 Requests
  %p <b>GET</b> /meta
  %p
    %a{:href => '/meta'} example

  %br
  %p <b>GET</b> /issues
  %p Optional query params limit (default 10) and skip (default 0)
  %p
    %a{:href => '/issues'} example

  %br
  %p <b>POST</b> /issues
  %p curl -X POST -H 'Content-Type: application/json' -d '{"name":"hello", "category":"altele", "lat":0, "lon":0,"images":["foo"]}' #{base_url}issues
  %p Required body params: name, category, lat, lon, images
  %p
    Valid categories:
    = settings.config['meta']['categories']

  %br
  %p <b>PUT</b> /issues/:id
  %p curl -X PUT -H 'Content-Type: application/json' -d '{"name":"test2"}' #{base_url}issues/#{Issue.first['_id']}

  %br
  %p <b>PUT</b> /issues/:id/add_to_set
  %p curl -X PUT -H 'Content-Type: application/json' -d '{"images":["http://foo.png","http://bar.png"]}' #{base_url}issues/#{Issue.first['_id']}/add_to_set
  %p required body
  %pre= pretty_json({'images' => ['url1', 'url2'] }.to_json)

  %br
  %h3 Request codes
  %p <b>200</b> - ok
  %p <b>404</b> - not found
  %p <b>400000</b> - unkown error - should not happen
  %p <b>400001</b> - missing name
  %p <b>400002</b> - invalid coordinates
  %p <b>400003</b> - invalid category
  %p <b>400004</b> - requires at least one image
  %p <b>400020</b> - invalid image extension. png only
