.eula
  %h3 Acord de licenţă şi termeni de utilizare. Aplicaţie pentru dispozitive de tip smartphone
  %p ACESTA ESTE UN ACORD ÎNTRE DUMNEAVOASTRĂ ȘI TECKNOWORKS S.R.L. (ÎMPREUNĂ CU AFILIAȚII SĂI, DENUMIȚI ÎN CONTINUARE „NOI”). ÎNAINTE DE UTILIZAREA APLICAȚIEI, VĂ RUGĂM SĂ CITIȚI ACORDUL DE LICENȚĂ ȘI TERMENII DE UTILIZARE DE FAȚĂ, PRECUM ȘI TOATE REGULILE ȘI POLITICILE REFERITOARE LA PRODUSUL APLICAȚIEI PENTRU DISPOZITIVE DE TIP SMARTPHONE („APLICAȚIA”) ȘI SERVICIILE AFERENTE APLICAȚIEI (INCLUZÂND, FĂRĂ LIMITARE, ORICE REGULI SAU PREVEDERI DE UTILIZARE SPECIFICATE ÎN INTERIORUL APLICAȚIEI.
  %p PRIN UTILIZAREA APLICAȚIEI, CONSIMȚIȚI SĂ VĂ ANGAJAȚI PRIN TERMENII PREZENTULUI ACORD. DACĂ NU ACCEPTAȚI TERMENII PREZENTULUI ACORD, NU TREBUIE SĂ UTILIZAŢI APLICAȚIA, ACEASTA NEFIIND ACOPERITĂ DE PREZENTUL DOCUMENT.
  %p Aplicația, denumita la modul generic "CityReport", este reprezentată de toate versiunile de aplicaţie cu numele "CityReport Cluj-Napoca", destinate dispozitivelor smartphone şi disponibile în magazinele online App Store, respectiv Google Play. Obiectul aplicației constă în colectarea de la utilizatori a datelor referitoare la locul şi descrierea unor eventuale incidente semnalate în raza de acţiune a Aplicaţiei. Conținutul digital reprezintă fluxul de date și codul sursă necesar pentru funcționarea Aplicației.
  %p
    Serviciul este reprezentat de site-ul web asociat Aplicaţiei ("Website")
    %a{href: Repara.base_url}= Repara.base_url
    și a serviciului web prin care se pune la dispoziţie mecanismul de raportare şi stocare a incidentelor prin intermediul Aplicaţiei şi vizualizarea în mod public prin intermediul Website-ului.
  %p
    %b
      %u Conținut digital
  %p
    %b Utilizarea Conținutului digital.
    În urma achitării taxelor aplicabile (dacă este cazul), stabilite de către TECKNOWORKS S.R.L., Noi vă acordăm dreptul neexclusiv de a păstra o copie permanentă a Conținutului digital aplicabil și de a vizualiza, utiliza și afișa acest Conținut digital de un număr nelimitat de ori pe dispozitivul smartphone (individual și colectiv, „smartphone”) pe care descărcați Aplicația și pe alte aplicații și dispozitive Aplicație autorizată de către Noi, exclusiv pentru uzul dumneavoastră personal și necomercial. Conținutul digital va fi considerat acordat sub licență în favoarea dumneavoastră de către TECKNOWORKS S.R.L. în baza prezentului Acord, cu excepția cazului în care se prevede în mod expres altfel de către prezentul Acord.
  %p
    %b Restricții.
    Cu excepția cazului în care se indică în mod expres altfel, nu puteți vinde, închiria, arenda, distribui, difuza, acorda prin sub-licență sau cesiona în alt mod niciun drept asupra Conținutului digital sau nicio porțiune din acesta către niciun terţ și nu puteți șterge etichete sau notificări de proprietate din Conținutul digital. De asemenea, nu puteți și nu veți încuraja, asista sau autoriza nicio altă persoană să se sustragă, să modifice, să invalideze sau să escamoteze funcții de securitate care protejează Conținutul digital.
  %p
    %b Taxe pentru conectare.
    Anumite funcții ale Aplicației necesită acces la date, iar furnizorul accesului la date pentru dispozitivul smartphone al dumneavoastră vă poate percepe taxe pentru accesul la date în legătură cu utilizarea Aplicației. Dumneavoastră sunteți unic responsabil(ă) pentru orice taxe pe care le suportați în legătură cu accesul la date.
  %p
    %b
      %u Aplicație și Serviciu
  %p
    %b Definiţii.
    Aplicația include:
  %p (a) totalitatea programelor software ale noastre sau ale terților care fac parte din Aplicație în momentul descărcării inițiale a Aplicației sau pe care Noi le furnizăm ca actualizări/extensii ale Aplicației, cu excepția cazului în care sunteți de acord cu alți termeni în cadrul unui proces de actualizare/extensie, și
  %p (b) orice documentație on­line sau altă documentație electronică pentru Aplicație.
  %p
    %b Serviciul.
    Informaţii referitoare la funcţionalitatea Serviciului pot fi găsite la pagina web asociată Aplicaţiei:
    %a{href: Repara.base_url}= Repara.base_url
  %p
    %b Descrierea Aplicației.
    Informaţii referitoare la descrierea şi funcţionalităţile oferite de Aplicaţie pot fi găsite la pagina de descriere asociată Aplicaţiei:
    %a{href: URI.join(Repara.base_url, about_path)}= URI.join(Repara.base_url, about_path)
  %p
    %b Utilizarea Aplicației.
    Sub rezerva termenilor și condițiilor prezentului Acord, TECKNOWORKS S.R.L. vă acordă prin prezenta o licență personală, limitată, neexclusivă și netransmisibilă pentru instalarea și utilizarea Aplicației pe dispozitivul dumneavoastră de tip smartphone. Nu puteți separa nicio componentă individuală a Aplicației și nu puteți vinde, închiria, arenda, împrumuta, distribui sau acorda prin sub-licență sau cesiona în alt mod niciun drept asupra Aplicației, în totalitate sau parțial.
  %p
    %b Interzicerea reproducerii tehnologiei, decompilării, dezasamblării sau escamotării.
    Nu puteți și nu veți încuraja, asista sau autoriza nicio altă persoană să modifice, să reproducă tehnologia, să decompileze sau să dezasambleze Aplicația, integral sau parțial, să creeze lucrări derivate din sau ale Aplicației, să se sustragă, să modifice, să anuleze, să manipuleze sau să escamoteze oricare din funcțiile sau protecțiile Aplicației sau orice mecanisme asociate operativ Aplicației, incluzând, fără limitare, extinderea sau înlocuirea oricărei funcționalități de management al drepturilor digitale din cadrul Aplicației.
  %p
    %b Actualizări automate.
     Pentru a menține la zi Aplicația dumneavoastră, TECKNOWORKS S.R.L. poate furniza automat actualizări/extensii Aplicației dumneavoastră.
  %p În funcție de opțiunea dumneavoastră la achiziția sau instalarea aplicației, aceste servicii reprezintă obiectul prezentului document. TECKNOWORKS S.R.L. va face publice și va comunica pe orice cale clienților săi condițiile specifice de oferire a oricărui serviciu. TECKNOWORKS S.R.L. își rezervă dreptul de a întrerupe temporar accesul la anumite servicii, în cazuri bine justificate cum ar fi, de exemplu, lucrările asupra sistemului de avertizare, mentenanță sau alte situații similare. TECKNOWORKS S.R.L. va notifica în prealabil întreruperile de servicii în interiorul aplicației. TECKNOWORKS S.R.L. își rezervă dreptul de a suspenda temporar sau definitiv accesul la serviciile sus-menționate dacă dumneavoastră nu vă îndepliniți obligațiile din prezentul document sau altele asumate de dumneavoastră în relația cu Noi.
  %p
    %b
      %u Preț si modificări de preț
  %p TECKNOWORKS S.R.L. poate revizui prețul serviciilor oferite prin Aplicație clientului.
  %p
    %b
      %u Aspecte generale
  %p
    %b Interzicerea utilizării ilegale și rezervarea drepturilor.
    Nu puteți utiliza Aplicația, Serviciul sau Conținutul digital în niciun scop ilegal. Dumneavoastră recunoașteți că licența din prezentul Acord nu transferă în favoarea dumneavoastră titlul asupra sau posesia oricăror drepturi de proprietate intelectuală ale TECKNOWORKS S.R.L. sau ale furnizorilor săi. Aplicația este acordată sub licență, nu vândută. Această licență este neexclusivă.
  %p
    %b Informații primite.
    Aplicația va furniza către TECKNOWORKS S.R.L. date despre aceasta, interacțiunea acesteia cu Serviciul și informații referitoare la conținutul pe care îl accesați cu ajutorul Aplicației și la utilizarea acesteia.
  %p
    %b Brevete.
    Aplicația și/sau metodele utilizate împreună cu Aplicația pot fi protejate prin unul sau mai multe brevete sau cereri de brevete în curs de obținere.
  %p
    %b Modificări aduse Serviciului.
    TECKNOWORKS S.R.L. își rezervă dreptul de a modifica, suspenda sau întrerupe Serviciul în orice moment. TECKNOWORKS S.R.L. nu va avea nicio răspundere față de dumneavoastră în cazul în care exercită acest drept.
  %p
    %b Încetare.
    Drepturile dumneavoastră în baza prezentului Acord vor înceta automat fără înștiințare din partea noastră, dacă nu respectați vreun termen al prezentului Acord. În cazul unei astfel de încetări, trebuie să sistați orice utilizare a Aplicației. TECKNOWORKS S.R.L. poate revoca imediat accesul dumneavoastră la Serviciu sau la Conținutul digital fără a vă înștiința și fără a vă rambursa eventualele taxe. Faptul că TECKNOWORKS S.R.L. nu insistă asupra sau nu obligă la o conformitate strictă din partea dumneavoastră cu prezentul Acord, nu va constitui o renunțare la oricare din drepturile sale.
  %p
    %b Derogare de responsabilitate pentru garanții.
    DUMNEAVOASTRĂ RECUNOAȘTEȚI ÎN MOD EXPRES ȘI CONSIMȚIȚI CĂ UTILIZAREA APLICAȚIEI, SERVICIULUI ȘI CONȚINUTULUI DIGITAL SE FACE EXCLUSIV PE RISCUL DUMNEAVOASTRĂ. APLICAȚIA, SERVICIUL ȘI CONȚINUTUL DIGITAL SUNT FURNIZATE „CA ATARE” CU TOATE DEFICIENȚELE ȘI FĂRĂ NICIO GARANȚIE, IAR TECKNOWORKS S.R.L. ȘI FURNIZORII DENEAGĂ TOATE GARANȚIILE EXPRESE SAU IMPLICITE, INCLUZÂND, FĂRĂ LIMITARE, GARANȚIILE IMPLICITE DE VANDABILITATE, CONFORMITATE CU UN SCOP ANUME, ACURATEȚE, POSESIE NETULBURATĂ ȘI NEÎNCĂLCAREA DREPTURILOR TERȚILOR. NICIUNA DINTRE INFORMAȚIILE SAU RECOMANDĂRILE VERBALE SAU SCRISE OFERITE DE CĂTRE NOI SAU DE UN REPREZENTANT AUTORIZAT AL NOSTRU NU VA DA NAŞTERE UNEI GARANȚII.
  %p
    %b Limitarea răspunderii.
    ÎN MĂSURA ÎN CARE NU ESTE INTERZIS PRIN LEGE, NICI TECKNOWORKS S.R.L. ȘI NICI FURNIZORII SAU PROPRIETARII SĂI DE LICENȚE NU VOR FI RĂSPUNZĂTORI FAȚĂ DE DUMNEAVOASTRĂ PENTRU ORICE DAUNE DIRECTE, INDIRECTE SAU COLATERALE PRIVIND ÎNCĂLCAREA ORICĂREI GARANȚII EXPRESE SAU IMPLICITE, ÎNCĂLCAREA PREZENTULUI DOCUMENT, NEGLIJENȚA, RĂSPUNDERE STRICTĂ SAU ORICE ALTĂ TEORIE JURIDICĂ AFERENTĂ APLICAȚIEI, SERVICIULUI SAU CONȚINUTULUI DIGITAL, INCLUZÂND, FĂRĂ LIMITARE, ORICE DAUNE SURVENITE ÎN URMA PIERDERII PROFITURILOR, VENITURILOR, DATELOR SAU A UTILIZĂRII APLICAȚIEI SAU A ORICĂRUI PRODUS ASOCIAT, CHIAR DACĂ TECKNOWORKS S.R.L. A FOST AVIZAT ASUPRA POSIBILITĂȚII UNOR ASTFEL DE DAUNE. ÎN TOATE CAZURILE, RĂSPUNDEREA TOTALĂ  A TECKNOWORKS S.R.L., ÎN BAZA PREZENTULUI ACORD, VA FI LIMITATĂ LA SUMA PLĂTITĂ EFECTIV DE CĂTRE DUMNEAVOASTRĂ PENTRU APLICAȚIE, SERVICIU ȘI CONȚINUT DIGITAL, DUMNEAVOASTRĂ RENUNȚÂND ÎN MOD EXPRES ȘI IREVOCABIL LA ORICE ALTE PRETENȚII SUPLIMENTARE FAȚĂ DE TECKNOWORKS S.R.L.
  %p Dumneavoastră declarați expres și irevocabil prin semnarea prezentului Contract că, dacă datorită acțiunilor dumneavoastră sau ale terților, pasive sau active pe care le veți desfășura (prin utilizarea aplicației) vor rezulta afecțiuni medicale, vătămări corporale, moartea, pagube materiale sau alte prejudicii, nu veți avea absolut nicio pretenție la daune și/sau despăgubiri prezente sau viitoare din partea TECKNOWORKS S.R.L. Dumneavoastră acceptați expres și irevocabil că utilizarea aplicației, serviciului și conținutului digital, se face exclusiv și integral pe răspunderea dumneavoastră. Obligațiile TECKNOWORKS S.R.L. față de dumneavoastră se limitează strict și exclusiv la posibilitatea dumneavoastră de instalare a Aplicației și conținutului digital și furnizarea serviciului contractat în condițiile prezentului document și a ofertei acceptate de dumneavoastră la achiziționarea Aplicației și a serviciului.
  %p Nici TECKNOWORKS S.R.L. și nici furnizorii acestuia nu vor fi răspunzători față de dumneavoastră pentru nicio daună, pierdere de profit, beneficii nerealizate, ratarea unor ocazii de afaceri sau alte pierderi suferite de dumneavoastră rezultate direct sau indirect din folosirea serviciilor și/sau aplicației și/sau conținutului digital, nefuncționarea serviciului și/sau aplicației și/sau conținutului digital din motive de ordin tehnic și/sau din acțiunea/inacțiunea unor terți.
  %p
    %b
      %u Protecția informațiilor cu caracter personal
  %p TECKNOWORKS S.R.L. ia măsuri de precauție — inclusiv măsuri administrative, tehnice și fizice — pentru a proteja informațiile dumneavoastră cu caracter personal împotriva pierderii, furtului și abuzului, precum și împotriva accesului neautorizat, dezvăluirii, modificării și distrugerii. TECKNOWORKS S.R.L. vine în întâmpinarea dumneavoastră pentru ca informațiile cu caracter personal să fie exacte, complete și actualizate. Vom reține informațiile dumneavoastră cu caracter personal pentru perioada necesară îndeplinirii scopurilor prezentului document, cu excepția cazului în care este impusă sau permisă, prin prevederile legale, o perioadă de reținere mai lungă.
  %p
    %b Acces la informațiile cu caracter personal.
     Ne puteți ajuta să ne asigurăm ca informațiile cu caracter personal sunt exacte, complete și actualizate dacă ne contactați la
    %a{href: "mailto:#{Repara.base_email}"}= Repara.base_email
  %p
    Pentru alte informații cu caracter personal depunem eforturi cu bună credință pentru a vă asigura accesul, astfel încât să ne puteți solicita corectarea datelor, în cazul în care acestea sunt inexacte, sau ștergerea datelor, în cazul în care Noi nu ar trebui să le reținem, în temeiul legii sau pentru scopuri comerciale legitime. Putem refuza prelucrarea solicitărilor care sunt repetitive în mod nerezonabil, care necesită un efort tehnic disproporționat, care pun în pericol viața privată a altor persoane, care sunt extrem de nepractice sau pentru care nu se cere accesul în alt fel prin legislaţia locală. Solicitările de acces, corectare sau ștergere pot fi transmise la
    %a{href: "mailto:#{Repara.base_email}"}= Repara.base_email
  %p
    %b
      %u Tuturor clienţilor le sunt garantate drepturile în conformitate cu Legea nr. 677/2001.
  %p Datele cu caracter personal colectate nu vor fi dezvăluite către terți, cu excepția cazurilor în care TECKNOWORKS S.R.L. trebuie să respecte obligațiile impuse de legislația în vigoare. Dumneavoastră aveți, conform Legii 677/2001, următoarele drepturi: dreptul la informare (art.12), dreptul de acces la date (art.13), dreptul de intervenție asupra datelor (art.14), dreptul de opoziție (art.15), dreptul de a nu fi supus unei decizii individuale (art.17) și dreptul de a vă adresa justiției (art.18).
  %p
    %b Aplicabilitatea legislaţiei româneşti.
    Legile statului român, fără a ține cont de principiile privind conflictele dintre legi, vor reglementa prezentul Acord și orice litigiu de orice natură care ar putea interveni între dumneavoastră și TECKNOWORKS S.R.L.
  %p
    %b Litigii.
    Orice litigiu apărut în legătură cu produsele sau serviciile comercializate sau distribuite de TECKNOWORKS S.R.L. se vor judeca de către instanțele competente din Cluj-Napoca, iar dumneavoastră consimțiți la jurisdicția exclusivă și locul de judecată al acestor instanțe.
  %p
    %b Separabilitate.
    Dacă orice termen sau condiție a prezentului Acord va fi considerat(ă) nevalabil(ă), nul(ă) sau neaplicabil(ă) indiferent de motiv, prevederea respectivă va fi considerată separabilă și nu va afecta valabilitatea şi aplicabilitatea oricărui termen sau oricărei condiții rămase.
  %p
    %b Modificare.
    TECKNOWORKS S.R.L. își rezervă dreptul de a modifica oricare din termenii prezentului Acord la latitudinea proprie, prin publicarea termenilor revizuiți pe site-ul web
    %a{href: URI.join(Repara.base_url, eula_path)}= URI.join(Repara.base_url, eula_path)
  %p Utilizarea în continuare de către dumneavoastră a Aplicației, după data intrării în vigoare a oricărei astfel de modificări, va fi considerată drept acordul dumneavoastră de a vă angaja prin respectiva modificare.
  %p
    %b Informații de contact.
    Pentru comunicări referitoare la prezentul Acord, puteți contacta TECKNOWORKS S.R.L. la adresa de e-mail:
    %a{href: "mailto:#{Repara.base_email}"}= Repara.base_email
