.row.about
  .col-md-12.text-center
    = image_tag 'logo.png'
  .col-md-12
    %h3= Repara.app_name
    %p #{Repara.app_name} este o aplicație gratuită care pune la dispoziția utilizatorilor, in special clujenilor, dar nu numai, o unealtă prin care să poată raporta diferitele probleme sau incidente pe care le observă pe raza orașului Cluj-Napoca.
    %p In același timp, aplicația este menită să ofere autoritaților clujene un mijloc adițional prin care să se poată identifica și localiza intr-un mod rapid și usor problemele și incidentele semnalate de cetățeni.
    %p
      Utilizatorii care folosesc aplicația pot vizualiza si confirma incidentele raportate, pot sesiza incidente invalide sau pot raporta incidente noi intr-un mod anonim, fără necesitatea de înregistrare in prealabil, doar cu condiția de acceptare a
      = link_to 'termenilor si condițiilor de utilizare', eula_path
    %p
      De asemenea, incidentele raportate pot fi vizualizate de pe orice dispozitiv cu conexiune la internet, accesand pagina de web dedicată
      = link_to 'aplicației', Repara.base_url
    %p
      Aplicația este disponibilă pentru descărcare si instalare in magazinul Apple App Store:
      %a{href: 'https://itunes.apple.com/us/app/city-report-cluj-napoca/id887848552?ls=1&mt=8'} City Report Cluj-Napoca for iOS
      , respectiv Google Play:
      %a{href: 'https://play.google.com/store/apps/details?id=com.tecknoworks.cityreport'} City Report Cluj-Napoca for Android
      , și este destinata dispozitivelor mobile de tip smart-Phone: iPhone sau iPod, pe care rulează sistemul de operare iOS (începând cu versiunea 7.0), respectiv Android (începând cu versiunea 4.0).
    %p Aplicatia urmeaza sa fie disponibila curand si pentru alte dispozitive, platforme si sisteme de operare.
    %p
      Aplicația este dezvoltată in cadrul companiei
      = link_to 'Tecknoworks', 'http://tecknoworks.com'
