<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <title>Repara Clujul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script data-main="/assets/main.js" src="/assets/lib/require/require.js"></script>

    <%= stylesheet_link_tag "/assets/main", :media => "all"  %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="navbar navbar-square">
        <div class="navbar-inner">
          <div class="container">

            <ul class="nav">
              <li><%= link_to 'Documentatie', apipie_path, :target => '_blank' %></li>
            </ul>

            <%= render :partial => "layouts/categories_dropdown" %>

            <a class="brand-center" id="logo-main" href="<%= root_path %>">
              <img src="/assets/logo.png" alt="Repar Clujul" />
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="container container-main">
      <%= yield %>
    </div>

    <div class="container-map" id="map-main">
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <p><a href="mailto:info@smarttech2000.com">info@smarttech2000.com</a></p>

            <p>
            Calea Turzii, nr.199, Suite 8-10, <br>
            400495 Cluj-Napoca, CJ, Romania
            </p>

            <p>Tel: +40 (0)364 116 231 <br>
            Fax: +40 (0)364 116 230</p>

          </div>
          <div class="offset2 span6">
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23reparaclujul" data-widget-id="268299118294728705">Tweets about "#reparaclujul"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
